
.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  max-width: 500px;
  width: 100%;
  background: #FFF;
  padding: 49px 40px 37px ;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 39px;
}

.modal h3 {
  color: #000;
  text-align: center;
  font-family: Roboto;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}


.modal button {
  align-self: center;
}
