.wrapper{
    height: 66px;
    width: 100%;
    background-color: #434460;
}

.nav_assistant{
    display: flex;
    align-items: center;
    height: 66px;
    gap: 30px;
}

.where{
    color: #FFF;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal; 
}