.text{
    color: #000;
    font-family: Roboto;
    font-size: 11px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.label {
    display: flex;
    align-items: center;
    column-gap: 10px;
}
.label input {
    accent-color: #606060;
}